*{margin: 0;padding: 0; box-sizing: border-box;}
body{
    height: 100vh;
    background: rgb(223, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 360px ;
    min-height: 710px;
    max-width: 479px;
    max-height: 896px;
    background: white;
    overflow-y: hidden;
}


.space-fix{
    width: 100%;
    /* background: red; */
    height: 50px;
}


.top {
    width: 430px;
    height: auto;
    background: #c36a2d;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px rgb(172, 173, 172);
    transition: all 1s ease;
    position: absolute;
}
.options {
    width: 100%;
    height: 50px;
    background: #c36a2d;
    display: flex;
}
.budget-option{
    flex: 1;
    margin: 5px;
    border-radius: 10px;
    background: #e2c275;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.expense-option{
    flex: 1;
    margin: 5px;
    border-radius: 10px;

    background: #e2c275;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

}
.fa-2x {
    color: white;
    margin-right: 0;
    padding-right: 0;
}
.options p{
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    cursor: pointer;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

.budget-box {
    margin: 5px;
    transition: all 1s ease;
}
.budget-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    width: 100%;
    height: 30px;
    margin: 2px auto;
    border: none;
    border-radius: 5px 0 0 5px;
    padding:5px;
}
.enter-budget {
    height: 30px;
    width: 10%;
    padding-left: none;
    border: none;
    border-radius: 0 5px 5px 0;
    background: #e2c275;
}
.budget-box p{
    color: white;
    font-family: sans-serif;
}



  
/* expense box */
.expense-box {
    padding: 5px;
    line-height: 25px;
}
.expense-box p{
    font-family: sans-serif;
    color: white;
}
.expense-box input {
    border-radius: 5px;
}
.expense-input-box input {
    border-radius: 5px 0 0 5px;
}
.expense-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.expense-input-box button {
    height: 30px;
    width: 10%;
    border: none;
    border-radius: 0 5px 5px 0;
    background: #e2c275;
}

/* button effects */

.ripple {
    background-position: center;
    transition: background 0.5s;
  }
  .ripple:hover {
    background: #eadca6 radial-gradient(circle, transparent 1%, #eadca6 1%) center/15000%;
  }
  .ripple:active {
    background-color: #c36a2d;
    background-size: 100%;
    transition: background 0s;
  }


/* display  */
.display {
    background: #f4f4f4;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.budget-display-box{
    background: #e2c17538;
    flex: 1;
    border-right: 1px rgb(168, 167, 167) solid;
}
.expense-display-box{
    background: #cf6f1536;
    flex: 1;
    border-right: 1px rgb(168, 167, 167) solid;
}
.balance-display-box{
    background: #75dbe23f;
    flex: 1;
}
.d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.dv {
    font-size: 20px;
}
.expense {
    width: 100%;
    height: 437px;
    margin-top: 20px;
    border-bottom: 40px solid #c36a2d;
    overflow-y: auto;
}
.expense-titles {
    background: #e2c275;
    border-bottom: 1px solid black;
    display: flex;
    font-family: sans-serif;
}
.expense-name-title {
    width: 120px;
    height: 20px;
    overflow: hidden;
    margin: 5px 50px 5px 90px;
}
.expense-amt-title {
    width: 130px;
    height: 20px;
    overflow: hidden;
    margin: 5px 20px 5px 20px;


}
li{
    display: flex;
    border-bottom: 1px solid black;
    padding: 5px;
    font-family: sans-serif;
}
.ex-name {
    /* background: red; */
    width: 215px;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(179, 179, 179);
    border-left: 1px solid rgb(179, 179, 179);
    margin-right: 5px;
    padding-left: 5px;
}
.ex-amt{
    /* background: lightgreen; */
    width: 130px;
    display: flex;
    align-items: center;
}

.fa-edit{
    padding: 5px;
    color: rgb(25, 230, 25);;
}
.fa-trash {
    margin-right: 5px;
    padding: 5px;

}


/* effects */
.fa-edit:hover {
    animation: editAnimation 0.5s ease ;
    animation-fill-mode: forwards;
}
.fa-trash:hover {
    animation: trashAnimation 0.5s ease ;
    animation-fill-mode: forwards;
}
@keyframes trashAnimation {
    from{color: #ff8a00;}
    to{color: #ff0000};
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }

}
@keyframes editAnimation {
    from{color: rgb(25, 230, 25);}
    to{color: #ffbb00};
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }

}


/* visibility */
.invisible {
    display: none;
    pointer-events: none;
}
.visible {
    display: all;
    pointer-events: all;
}